In [1]:
import pandas as pd

pd.read_csv("archive/MARUTI.csv")

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2003-07-09,MARUTI,EQ,125.00,164.90,170.40,155.00,164.00,164.30,165.95,35164283,5.835528e+14,NaN,8537695.0,0.2428
1,2003-07-10,MARUTI,EQ,164.30,167.00,168.70,164.50,167.00,167.00,166.74,10464179,1.744820e+14,NaN,4363947.0,0.4170
2,2003-07-11,MARUTI,EQ,167.00,167.75,174.85,166.25,173.60,173.35,172.45,11740117,2.024622e+14,NaN,3014852.0,0.2568
3,2003-07-14,MARUTI,EQ,173.35,174.25,179.25,174.25,178.60,177.95,177.91,5982324,1.064313e+14,NaN,1949217.0,0.3258
4,2003-07-15,MARUTI,EQ,177.95,200.00,200.00,173.00,176.30,176.20,176.88,6173689,1.092001e+14,NaN,1307694.0,0.2118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4422,2021-04-26,MARUTI,EQ,6676.10,6690.20,6789.00,6600.00,6645.00,6638.90,6678.34,937344,6.259903e+14,74474.0,464999.0,0.4961
4423,2021-04-27,MARUTI,EQ,6638.90,6669.95,6709.00,6542.00,6552.00,6568.75,6620.68,1610651,1.066360e+15,130986.0,588617.0,0.3655
4424,2021-04-28,MARUTI,EQ,6568.75,6568.75,6650.00,6545.00,6581.00,6573.80,6598.62,1406270,9.279437e+14,117843.0,672435.0,0.4782
4425,2021-04-29,MARUTI,EQ,6573.80,6635.00,6647.45,6552.00,6562.00,6565.65,6580.77,757075,4.982135e+14,64393.0,352987.0,0.4663
4426,2021-04-30,MARUTI,EQ,6565.65,6537.10,6559.60,6421.00,6438.35,6455.65,6500.51,849997,5.525418e+14,95248.0,382594.0,0.4501